
<header>
    <!--logo start-->
    <div class="logo"><a href="">ShopBridge</a></div>
    <!--logo end-->
    <!--menu-toggle-btn start-->
    <div class="menu-toggle-btn">
        <span></span><span></span><span></span>
    </div>
    
    
    <ul class="nav navbar-nav navbar-right header-right">
        <li class="dropdown user-dropdown">
            <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">
            <span><img src="~/images/user.png" alt=""></span> <div style="float: right;margin: 5px 0px 0px 5px;">UserName</div></a>
            <ul role="menu" class="dropdown-menu">
                    <li><a href="/Login/Logout/"><i class="pms-logout"></i><span>Logout</span></a></li>
                </ul>
        </li>
    </ul>
</header>
