<aside>
    <div id="menu-accordian">
        <ul>
            <li>
                <h3><a href="/InventoryItem/Index"><i class="pms-dashboard"></i>Dashboard</a></h3>
            </li>
            <li>
                <h3><a href="/InventoryItem/Create"><i class="pms-users"></i>Create</a></h3>
            </li>
        </ul>
    </div>
</aside>
